In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

In [23]:
sxs = pd.read_csv("responses.csv")
sxs.head()

,#,Please Enter the Provided Username,What's your age?,What is your gender?,Have you eaten lettuce in the last six months?,How much do you enjoy eating lettuce?,Have you eaten cilantro in the last six months?,How much do you enjoy eating cilantro?,Have you eaten asparagus in the last six months?,How much do you enjoy eating asparagus?,Apple,Pineapple,Starfruit,What is your favorite meal？,What is your favorite climate？,Start Date (UTC),Submit Date (UTC),Network ID,Tags
0,edrtfuw84d9z1zcoedrtfu39muee1vpa,testuser30,45-54,Female,1,10.0,1,6.0,0,NaN,Never had,Never had,Enjoy,Dinner,Hot and sunny,2023-07-20 16:25:25,2023-07-20 16:26:28,1d181f19c8,NaN
1,icybudefkelplicybud5isir0m6069bj,testuser2,35-44,Male,1,6.0,0,NaN,1,9.0,Dislike,Dislike,Dislike,Dinner,Hot and sunny,2023-07-20 16:23:40,2023-07-20 16:24:13,1d181f19c8,NaN
2,on0vbconhqnkmxa2bq3don0vbcejpnws,testuser1,18-24,Other,0,NaN,1,3.0,1,6.0,Enjoy,Enjoy,Enjoy,Dinner,Hot and sunny,2023-07-20 15:56:15,2023-07-20 15:56:47,1d181f19c8,NaN
3,luaj1ze84g8r8frpc8luaj1qk2v5t06h,Admin,18-24,Other,0,NaN,1,5.0,1,2.0,Enjoy,Enjoy,Enjoy,Dinner,Hot and sunny,2023-07-20 15:44:48,2023-07-20 15:45:20,1d181f19c8,NaN
4,q1iaoz4y07tuth62bq1iaozotb1v8nff,None,65+,Other,0,NaN,1,5.0,0,NaN,Never had,Dislike,Never had,Dinner,Hot and sunny,2023-07-20 15:31:53,2023-07-20 15:32:23,1d181f19c8,NaN

In [43]:
sxs = pd.read_csv("responses.csv")
sxs.head()

,#,Please Enter the Provided Username,What's your age?,What is your gender?,Have you eaten lettuce in the last six months?,How much do you enjoy eating lettuce?,Have you eaten cilantro in the last six months?,How much do you enjoy eating cilantro?,Have you eaten asparagus in the last six months?,How much do you enjoy eating asparagus?,Apple,Pineapple,Starfruit,What is your favorite meal？,What is your favorite climate？,Start Date (UTC),Submit Date (UTC),Network ID,Tags
0,edrtfuw84d9z1zcoedrtfu39muee1vpa,testuser30,45-54,Female,1,10.0,1,6.0,0,NaN,Never had,Never had,Enjoy,Dinner,Hot and sunny,2023-07-20 16:25:25,2023-07-20 16:26:28,1d181f19c8,NaN
1,icybudefkelplicybud5isir0m6069bj,testuser2,35-44,Male,1,6.0,0,NaN,1,9.0,Dislike,Dislike,Dislike,Dinner,Hot and sunny,2023-07-20 16:23:40,2023-07-20 16:24:13,1d181f19c8,NaN
2,on0vbconhqnkmxa2bq3don0vbcejpnws,testuser1,18-24,Other,0,NaN,1,3.0,1,6.0,Enjoy,Enjoy,Enjoy,Dinner,Hot and sunny,2023-07-20 15:56:15,2023-07-20 15:56:47,1d181f19c8,NaN
3,luaj1ze84g8r8frpc8luaj1qk2v5t06h,Admin,18-24,Other,0,NaN,1,5.0,1,2.0,Enjoy,Enjoy,Enjoy,Dinner,Hot and sunny,2023-07-20 15:44:48,2023-07-20 15:45:20,1d181f19c8,NaN
4,q1iaoz4y07tuth62bq1iaozotb1v8nff,None,65+,Other,0,NaN,1,5.0,0,NaN,Never had,Dislike,Never had,Dinner,Hot and sunny,2023-07-20 15:31:53,2023-07-20 15:32:23,1d181f19c8,NaN

In [44]:
def format_responses(df):
    ''' 
    Formatting for responses
    '''

    cols_list = ["hash","username", "age", "gender", "lettuce-eat", "lettuce-enjoy", "cilantro-eat", "cilantro-enjoy", 'asp-eat', 'asp-enjoy', 'apple', 'pineapple', 'starfruit', 'fav-meal', 'fav-climate', 'startdate', 'submitdate', 'networkID', 'tags']
    if len(cols_list) == df.shape[1]:
        df.columns = cols_list
    
    df.drop(["hash","username","startdate","submitdate","networkID","tags"], inplace=True, axis=1)


    change_cols = ["age", "gender", "apple", "pineapple", "starfruit", "fav-meal", "fav-climate"]
    df[change_cols] = df[change_cols].apply(lambda x: pd.factorize(x)[0] + 1)
    df = df.fillna(0)
    return df

In [45]:
sxs = format_responses(sxs)
sxs.head()

,age,gender,lettuce-eat,lettuce-enjoy,cilantro-eat,cilantro-enjoy,asp-eat,asp-enjoy,apple,pineapple,starfruit,fav-meal,fav-climate
0,1,1,1,10.0,1,6.0,0,0.0,1,1,1,1,1
1,2,2,1,6.0,0,0.0,1,9.0,2,2,2,1,1
2,3,3,0,0.0,1,3.0,1,6.0,3,3,1,1,1
3,3,3,0,0.0,1,5.0,1,2.0,3,3,1,1,1
4,4,3,0,0.0,1,5.0,0,0.0,1,2,3,1,1

In [50]:
import random
def simulate_protein_data(df, obs):
    means = df.mean(axis=0).tolist()
    sds = df.std(axis=0).tolist()

    if len(means) != len(sds): ## sanity check
        return "List Imbalance"
    
    simulated_data = []
    for _ in range(obs):
        col = []
        for i in range(len(means)):
            col.append(random.gauss(means[i],sds[i]))
        simulated_data.append(col)
        

    simulated_dataframe = pd.DataFrame(simulated_data)
    return simulated_dataframe 

simul_sxs = simulate_protein_data(sxs, 1000)

In [51]:
simul_sxs

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2.413513,1.290767,0.961424,3.940860,1.368573,2.291510,0.048243,2.942209,2.512160,2.178472,2.761595,3.321797,1.262528
1,3.825217,1.650375,0.356415,0.436589,1.469300,5.977944,0.512444,0.871858,2.949783,4.021631,3.067644,1.577276,1.333012
2,4.645523,2.091909,-0.245335,3.589157,0.849147,-0.422587,0.308026,9.739240,2.758466,3.350468,0.483996,1.030075,1.084122
3,3.119318,2.195397,0.666982,5.920754,0.597666,1.871746,0.854519,5.053293,2.278047,3.427518,1.583396,0.823497,1.480828
4,0.964880,1.130389,0.552611,1.526554,0.905294,3.874563,-0.391379,6.128032,1.525537,3.266370,3.749574,2.777354,1.959447
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.526850,1.012733,0.598229,3.878773,-0.153085,3.682653,0.669975,6.513500,2.660702,2.547232,-0.643538,1.848366,1.416316
996,2.056408,2.070734,1.255223,2.942846,1.389665,0.822297,0.904722,8.343692,3.405854,4.046052,2.151505,0.346233,1.007857
997,2.295365,2.405179,0.823244,5.092108,1.282734,-0.672990,0.441006,1.654257,1.962574,2.165885,1.197354,2.473208,2.557434
998,4.063098,1.422651,0.441582,0.929538,1.705164,8.867852,0.192880,7.155719,3.156153,2.336670,2.126192,2.112618,1.580176
999,4.595312,2.075942,0.440204,2.840821,1.690645,9.502357,1.435395,3.513316,2.901862,1.670611,0.741015,2.525072,1.628296

In [62]:
from sklearn.cluster import KMeans
 
#Initialize the class object
kmeans = KMeans(n_clusters= 3)
 
#predict the labels of clusters.
kmeans.fit(simul_sxs)
 
y_kmeans=kmeans.predict(simul_sxs)

    
simul_sxs['subtype'] = y_kmeans

simul_sxs.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,subtype
0,2.413513,1.290767,0.961424,3.940860,1.368573,2.291510,0.048243,2.942209,2.512160,2.178472,2.761595,3.321797,1.262528,2
1,3.825217,1.650375,0.356415,0.436589,1.469300,5.977944,0.512444,0.871858,2.949783,4.021631,3.067644,1.577276,1.333012,2
2,4.645523,2.091909,-0.245335,3.589157,0.849147,-0.422587,0.308026,9.739240,2.758466,3.350468,0.483996,1.030075,1.084122,0
3,3.119318,2.195397,0.666982,5.920754,0.597666,1.871746,0.854519,5.053293,2.278047,3.427518,1.583396,0.823497,1.480828,0
4,0.964880,1.130389,0.552611,1.526554,0.905294,3.874563,-0.391379,6.128032,1.525537,3.266370,3.749574,2.777354,1.959447,1

In [63]:
simul_sxs.to_csv("simul_sxs.csv")